[submodule "vendor/argparse"]
	path = vendor/argparse
	url = https://github.com/p-ranav/argparse
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
